<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Symphonia</title>
</head>

<body>
  <h1>Socket test page</h1>
</body>

</html>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io().connect('http://localhost');
  socket.on('connect', () => {
    console.log("connected to server");
  });
  socket.on('disconnect', () => {
    console.log("disconnected form server");
  });
</script>